<div mat-dialog-title>
  <h1>Dialog with elements</h1>
</div>

<mat-dialog-content>
  <form mat-dialog-content (ngSubmit)="onSubmit(game)" [formGroup]="game">

    <div class=div-input fxLayout=row fxLayoutAlign='center center'>
      <po-input fxFlex=50 p-label=Identificador p-placeholder="Ex: ps1" p-auto-focus="true" p-required="true"
        formControlName="id">
      </po-input>
      <po-input fxFlex=50 p-label="Identificador do emulador" p-placeholder="Ex: psx" p-required="true"
        formControlName="idEmulator">
      </po-input>
    </div>

    <div class=div-input fxLayout=row fxLayoutAlign='center center'>
      <po-input fxFlex=50 p-label=Nome p-placeholder="Ex: Resident Evil" p-required=true formControlName="name">
      </po-input>
      <po-input fxFlex=50 p-label=Descrição p-placeholder="Ex: Jogo de terror" formControlName="description">
      </po-input>
    </div>

    <div class=div-input fxLayout=row fxLayoutAlign='center center'>
      <po-datepicker fxFlex=50 formControlName="launchDate" p-format="dd/mm/yyyy" p-label="Data de lançamento">
      </po-datepicker>
      <po-datepicker fxFlex=50 formControlName="registerDate" p-format="dd/mm/yyyy" p-label="Data do cadastro">
      </po-datepicker>
      <!-- <po-input fxFlex=50 p-label="Data de lançamento" p-required="true" formControlName="launchDate"></po-input> -->
      <!-- <po-input fxFlex=50 p-label="Data do cadastro" p-required="true" formControlName="registerDate"></po-input> -->
    </div>

    <div class=div-input fxLayout=row fxLayoutAlign='center center'>
      <po-input fxFlex=50 p-label=Imagem p-required="true" formControlName="srcImage"></po-input>
      <po-input fxFlex=50 p-label=Tags p-required="true" formControlName="tags"></po-input>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <po-button class="po-md-3" type="submit" p-label="Sample Restore">Cancelar </po-button>
  <po-button class="po-md-3" type="submit" p-label="Sample Restore">Salvar </po-button>
</mat-dialog-actions>