:host {
  .container{
    div{
      height: 100%;
      width: 100%;
      &.side {
        min-width: 180px;
        max-width: 330px;
        color: white;
        border-color: black !important;
        background-color: rgba(10, 10, 10, 1) !important;
        div{
          height: fit-content;
          mat-icon{
            padding-left: 20px;
            font-size: 30px;
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
        }
      }    
    }
  }
}

